#index {
  flex-direction: column;
  align-items: center;
  * {
    padding: 20px;
  }
  @media #{$tablet-bp} {
    flex-direction: row;
    justify-content: space-between;
  }
}

#hero {
  max-width: 90%;
  @media #{$tablet-bp} {
    width: 50%;
    margin-right: 5%;
  }
}

.nav {
  transform-origin: 50% 50%;
  transition: 0.5s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

#title-portfolio, #title-faq {
  &:hover {
    fill: $white;
  }
}

#title-about:hover {
  fill: $accent-color;
}
