#landscape-logo {
  width: 90%;
  max-height: 40%;
  @media #{$tablet-bp} {
    display: none;

  }
}
#portrait-logo {
  display: none;
  @media #{$tablet-bp} {
      display: flex;
      align-self: flex-end;
      min-width: 20%;
      max-height: 60%;
    }
}

#social {
  display: flex;
  * {
    padding: 5px;
    max-width: 15vw;
  }
  @media #{$tablet-bp} {
    display: flex;
    flex-direction: row;
    position: absolute;
    max-height: 15vh;
    top: 84vh;
    right: $icon-margin;
  }
}

#overlay {
  img {
    @extend %nav-icons;
  }
}

#home {
  @extend %nav-icons;
  top: $icon-margin;
  left: $icon-margin;
}

#back {
  top: $icon-margin;
  left: $icon-margin;
}

#arrow-right {
  bottom: $icon-margin;
  right: $icon-margin;
}

#arrow-left {
  bottom: $icon-margin;
  left: $icon-margin;
}
