//Colors

$white            : #fff;
$accent-color     : #C05A5A;
$bg-color         : #3C3C3B;

//media queries

$tablet-bp          :   "screen and (min-width: 768px)";
$desktop-bp         :   "screen and (min-width: 1024px)";
$large-desktop-bp   :   "screen and (min-width: 1281px)";

//margins

$icon-margin        : 2vh;
